<html>
    <head>
        <title>Todo App</title>
        <style>
            .hidden {
                display: none;
            }
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }
            li {
                margin-bottom: 5px;
            }
            li button {
                -webkit-appearance: none;
                border: none;
                outline: none;
                color: red;
                cursor: pointer;
                font-size: 20px;
                background-color: white;
            }
        </style>
    </head>
    <body>
        <form id="todo-form">
            <input id="todo-form-description" type="text" name="description" />
            <input type="submit" value="Create" />
        </form>
        <div id="todo-error" class="hidden">
            Something went wrong!
        </div>
        <ul id="todo-list">
            {% for d in data %}
            <li>
                <input class="todo-item-checkbox" data-id="{{ d.id }}" type="checkbox" {% if d.completed %} checked {% endif %}/>
                {{ d.description }}
                <button class="todo-item-del-btn" data-id="{{ d.id }}" >&cross;</button>
            </li>
            {% endfor %}
        </ul>
    </body>
    <script>
        const todoCheckboxes = document.querySelectorAll('.todo-item-checkbox');
        for(let i=0; i<todoCheckboxes.length; i++) {
            const checkbox = todoCheckboxes[i];
            checkbox.onchange = function(e) {
                const todoItemChecked = e.target.checked;
                const todoID = e.target.dataset['id'];
                fetch('/todos/' + todoID + '/set-completed', {
                    method: 'POST',
                    body: JSON.stringify({
                        'completed': todoItemChecked
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(function() {
                    document.getElementById('todo-error').className = 'hidden';
                })
                .catch(function() {
                    document.getElementById('todo-error').className = '';
                })
            }
        }

        const todoDelBtns = document.querySelectorAll('.todo-item-del-btn');
        for(let i=0; i<todoDelBtns.length; i++) {
            const delBtn = todoDelBtns[i];
            delBtn.onclick = function(e) {
                const todoID = e.target.dataset['id'];
                fetch('/todos/' + todoID + '/delete', {
                    method: 'GET'
                })
                .then(function() {
                    document.getElementById('todo-error').className = 'hidden';
                })
                .catch(function() {
                    document.getElementById('todo-error').className = '';
                })
            }
        }

        document.getElementById('todo-form').onsubmit = function(e) {
            e.preventDefault();
            fetch('/todos/create', {
                method: 'POST',
                body: JSON.stringify({
                    'description': document.getElementById('todo-form-description').value
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(jsonResponse) {
                const liItem = document.createElement('LI');
                liItem.innerHTML = jsonResponse['description'];
                document.getElementById('todo-list').appendChild(liItem);
                document.getElementById('todo-error').className = 'hidden';
            })
            .catch(function() {
                document.getElementById('todo-error').className = '';
            })
        }
    </script>
</html>